* {
  box-sizing: border-box;
}

body {
  background-color: linen;
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
  color: black;
  line-height: 1.5;
  font-size: 16px;
}
.appTitle {
  font-size: 3rem;
  background-color: #38302e;
  color: white;
  padding: 0 20px;
  /* display: inline-block; */
  border-radius: 25px;
  box-shadow: 5px 6px var(#6f6866);
  text-align: center;
}

h2 {
  font-weight: bolder;
  font-size: 2rem;
}
p {
  font-weight: bolder;
}

.current {
  font-weight: bold;
  font-size: 1.2rem;
}
/* UV index scale colors */
.severe {
  background-color: red;
  color: white;
  padding: 10px;
  border: 10px;
}

.moderate {
  background-color: yellow;
  color: brown;
  padding: 10px;
  border: 10px;
}
.favorable {
  background-color: green;
  color: white;
  padding: 10px;
  border: 10px;
}
